body {
    background: linear-gradient(45deg, #eeeeee, #e5c2ff); 
    height: auto;
    margin: 0;
    justify-content: center; 
    align-items: center;

}

.pages{
    text-decoration: none;
    font-size: 15px;
    font-family: cursive;
    padding: 10px;
    color:white;
    margin-right: 15rem; 
    border-radius: 1rem;       
}

nav > a:hover{
    background-color:whitesmoke;
    color: gold;
}

#photoLogo{
    border-radius: 1000px;
    width:55px;
    height:55px;
}
.containar {
    display: flex;
    align-items: center;  
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem; 
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
.carousel-inner img {
    max-height: 500px; 
    object-fit: cover; 
}

.carousel {
    max-width: 100%; 
    margin: auto; 
}

#discription{
    width: 50%;
    height: 5%;
    display: flex;
    flex-direction: row;
    margin: 2%;
    justify-content: center;
    align-items: center;  
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-radius: 5%;
    border-width: 1% ;
    gap: 2rem ;
    
}
.menu{
    display: flex; 
    justify-content:center;  
    flex-wrap: wrap;  
    gap: 2rem ;  
    margin: 1rem ;
}
.photoMenu{
    width: 20rem;;
    height: 15rem ;
    border-radius: 1rem;
    margin-bottom: 1%;
}
.cartMenu{
    border: 2px solid rgb(191, 191, 191);
    border-radius: 1rem;
    text-align: center;
    padding-bottom: 3% ;
    background-color: rgb(233, 202, 255);

}
.cartMenu:hover{
    font-size: large;
    color: rgb(0, 0, 0);
}
.btnCart{
    background-color: rgb(249, 166, 1);
    font-style: normal;
    font-size: 15px;
    border-color: white;
    color: white;
    border-radius: 100px;
}
.footer{
    text-align: center;
}
.titleMeal{
    font-size: large;
    font-family: cursive;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
    background-color: rgb(255, 255, 255);
}